img {
    height: 200px;
}
.box1 {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}

.box2 {
background-color:#D0A7B4 ;
display: flex;
justify-content: center;
justify-content: space-between;
padding: 20px;
margin: 20px;

}
.box3 {
    background-color: #ffff;
    display: flex;
}

